[submodule "owl"]
	path = owl
	url = https://github.com/odoo/owl.git
	branch = master
[submodule "owl_playground_ts"]
	path = owl_playground_ts
	url = https://github.com/SimonGenin/owl_playground_ts.git
	branch = main

